services:
  vacaciones_utiles_2026:
    container_name: vacaciones_utiles_2026
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # [CAMBIAR]: Pon aquí la URL de tu API real
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    restart: always

  nginx_server:
    container_name: nginx_server
    image: nginx:alpine
    ports:
      # [CAMBIAR]: PuertoServidor:PuertoContenedor
      # Si el 80 o 443 están ocupados, cambia el número de la IZQUIERDA
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./cert:/etc/nginx/certs:ro
    depends_on:
      - vacaciones_utiles_2026
    restart: always